CORS_ALLOW_ORIGIN=http://localhost:5173;http://localhost:8080;http://localhost:3000

# LLM Setup
OPENAI_BASE_URL=

OPENAI_MODEL=

OPENAI_EMBEDDINGS_MODEL=

OPENAI_API_KEY=

# LangSmith Setup
LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

# Local Postgres database connection details
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Neon database connection details
# DB_HOST=
# DB_PORT=
# DB_NAME=
# DB_USER=
# DB_PASSWORD=
# DB_SSLMODE=
# DB_CHANNEL_BINDING=